body{
  background: blanchedalmond;
}

h1{
  text-align: center;
}

p{
  text-align:center;
  padding-bottom: 20px;

}


/* new content */
.main-content {
  padding:50px;
  background-color: blue;
  border-radius: 20px 20px 20px 20px;
  margin: 0 auto;
  margin: 0 auto;
	width: 40vw;
	height: 80vh;
	margin: 0 auto;
	display: grid;
	justify-items: center;
	align-items: center;
	grid: 1fr 5fr / 1fr;
	gap: 1.5em;
}

.container {
  
	display: grid;
	width: 500px;
	height: 500px;
	margin-bottom: 20px;
	border: 2px solid rgb(0, 0, 0);
	align-self: start;
	background-color: white;
}

.cell {
	border: 1px solid black;
	text-align: center;
}
